
ul.tabs {
  list-style: none;
  border: 1px solid map.get($govuk-colours, "mid-grey");
  margin:20px 0;
  @include govuk-clearfix;
  @include govuk-media-query(tablet) {
    border: none;
    border-bottom: 1px solid map.get($govuk-colours, "mid-grey");
  }
  li {
    border: 1px solid transparent;
    border-bottom: 1px solid map.get($govuk-colours, "mid-grey");
    position: relative;
    margin-bottom: -1px;
    @include govuk-media-query(tablet) {
      float: left;
    }
  }
  li > a, li.active {
    padding: 15px 15px 10px;
    display: block;
    @include govuk-media-query(tablet) {
      padding: 15px 30px 10px;
    }
  }
  li.active {
    @include govuk-media-query(tablet) {
      border-color: map.get($govuk-colours, "mid-grey");
      border-bottom-color: #fff;
    }
  }
}

.pagination {
  @include govuk-clearfix;
  margin-top: -10px;
  margin-bottom: 20px;
  .govuk-list {
    line-height: inherit;
  }
  li {
    float: left;
    text-align: center;
    margin-right: 10px;
    a, span.current, button {
      display: block;
      min-width: 1em;
      text-align: center;
    }
    span.current {
      font-weight: bold;
    }
  }
}

@include govuk-media-query(tablet) {
  .pagination {
    float: right;
    margin-top: .26316em;
    margin-bottom: 1.05263em;
    li {
      margin-left: 10px;
      margin-right: 0;
    }
  }
}
