// Panels FROM govuk-frontend-toolkit (PRE-GDS)
// ==========================================================================

@mixin box-sizing($type) {
    // http://www.w3.org/TR/css3-ui/#box-sizing
    // $type can be one of: content-box | padding-box | border-box | inherit
    -webkit-box-sizing: $type; // Chrome 4.0 to 9.0, Safari 3.1 to 5.0, Mobile Safari 3.2 to 4.3, Android Browser 2.1 to 3.0
    -moz-box-sizing: $type; // Firefox 2.0 to 28.0, Firefox for Android 26.0 onwards
    box-sizing: $type;
}

%contain-floats {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.panel {
    @include box-sizing(border-box);
    @extend %contain-floats;
    clear: both;
    border-left-style: solid;
    border-color: govuk-colour("blue");

    padding: govuk-spacing(3);
    margin-bottom: govuk-spacing(3);

    :first-child {
        margin-top: 0;
    }

    :only-child,
    :last-child {
        margin-bottom: 0;
    }
}

.panel-border-wide {
    border-left-width: 10px;
}

// Used to show the left edge of "toggled" content
.panel-border-narrow {
    border-left-width: 5px;
}

// Panels within form groups
// By default, panels have 15px bottom margin
.form-group .panel-border-narrow {
    float: left;
    width: 100%;
    // Remove the bottom padding as .form-group sets a bottom margin
    padding-bottom: 0;
    // Don't remove the bottom margin for all panels, assume they are often within stacked groups
}

// Note: This is incredibly fragile, and needs rebuilding.

// The first panel in a group
.form-group .panel-border-narrow:first-child {
    margin-top: 10px;
}

// The last panel in a group
.form-group .panel-border-narrow:last-child {
    margin-top: 0;
    margin-bottom: 0;
}

// For inline panels
.inline .panel-border-narrow,
.inline .panel-border-narrow:last-child {
    margin-top: 10px;
    margin-bottom: 0;
}