.app-auth-action {
  margin: govuk-spacing(3) 0 govuk-spacing(3);

  @media (min-width: 27.5em) {
    text-align: right;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 15px;
    padding: 5px 0;
  }
}

.app-auth-action__link {
  @include govuk-link-style-inverse;
  @include govuk-font(19);

  line-height: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;

    @if $govuk-link-underline-offset {
      text-underline-offset: $govuk-link-underline-offset;
    }
  }

  &:focus {
    @include govuk-focused-text;
  }
}
