$appCardGap: govuk-spacing(3);

.app-topic-cards {
  display: flex;
  margin-bottom: govuk-spacing(6);
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: $appCardGap;
  list-style: none;
}

.app-topic-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: govuk-spacing(5);
  box-sizing: border-box;
  list-style: none;
  background-color: govuk-colour("light-grey");

  @include govuk-media-query($from: tablet) {
    width: calc(50% - $appCardGap * 0.5);
  }

  @include govuk-media-query($from: desktop) {
    width: calc(33.3333% - $appCardGap * 1.5);
  }
}

.app-topic-card__heading {
  @extend .govuk-heading-s;
}

.app-topic-card__summary {
  @extend .govuk-body;
}
