.text-smaller-right-padding-5px {
  padding: 0 5px 0 0;
  font-size: smaller;
}

.border-bottom-gray-1px {
  border-bottom: 1px solid #bfc1c3;
}

.border-bottom-black-2px {
  border-bottom: 2px solid #0b0c0c;
}

.unresponsive-cell-200px {
  max-width: 200px;
}

.unresponsive-cell-300px {
  max-width: 300px;
}
