// make the last element (sign out) go to the end of the container
.govuk-header__navigation-item:last-child {
  float: right;

  // except when we have the menu (small screens), then show aligned with the others
  @include govuk-media-query ($until: desktop) {
    float: none;
  }
}

// bold font for the Menu toggle
.govuk-js-header-toggle {
  font-weight: bold;
}