.govuk-notification-banner {
  & .govuk-notification-banner__header {
    .close-button {
      @include govuk-font(19, $weight: bold);
      color: govuk-colour("white");
      cursor: pointer;
    }
  }

  &:focus {
    outline: none;
  }
}