.govuk-table__row {

    & .govuk-table__cell {
        vertical-align: middle;
    }

    &.extra-padding .govuk-table__cell {
        padding-top: govuk-spacing(4);
        padding-bottom: govuk-spacing(4);
    }
}
