.icon-remove {
  color: govuk-colour("red");
  font-weight:bold;
}

.icon-ok {
  color: govuk-colour("green");
  font-weight:bold;
}

.icon-ok::before {
  content:"\2714\0020";
}

.icon-remove::before {
  content:"\2718\0020";
}