.icon-remove {
  color: govuk-colour("red");
  font-weight: bold;
  font-family: $govuk-font-family;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
}

.icon-ok {
  color: govuk-colour("green");
  font-weight: bold;
  font-family: $govuk-font-family;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
}

.icon-ok::before {
  content: "\2714\0020";
}

.icon-remove::before {
  content: "\2718\0020";
}
