.request {
  padding: 10px;
  background: govuk-colour("light-grey");
  margin-bottom: 10px;
  position: relative;
  border: 1px solid map.get($govuk-colours, "light-grey");
  border-left: 5px solid map.get($govuk-colours, "light-grey");
  p {
    margin: 0;
    a {
      font-weight: bold;
    }
  }
  .button-respond {
    display: inline-block;
    margin: 5px 0 0;
  }
  .button-respondx {
    padding: 5px 15px;
    border-left: 1px solid #dee0e2;
    margin-top: 10px;
    background: #f8f8f8;
    position: absolute;
    top: 0;
    right: 0;
  }
  .pnl {
    border: none;
    padding: 0 0 1px;
  }
  .respond {
    .form-submit {
      margin-bottom: 0;
    }
  }
}

.requestV2 {
  padding: 15px;
  background: govuk-colour("light-grey");
  margin-bottom: 10px;
  position: relative;
  border: 1px solid map.get($govuk-colours, "light-grey");
  border-left: 5px solid map.get($govuk-colours, "light-grey");
  p {
    @include govuk-media-query(tablet) {
      margin: 0;
      width: 75%;
    }
    a {
      font-weight: bold;
    }
  }
  .button-respond {
    @include govuk-media-query(tablet) {
      padding: 5px 15px;
      border-left: 1px solid #dee0e2;
      margin-top: 10px;
      background: #f8f8f8;
      position: absolute;
      top: 0;
      right: 0;
    }
    display: inline-block;
    margin: 5px 0 0;
  }
  .pnl {
    border: none;
    padding: 0 0 1px;
  }
  .respond {
    .form-submit {
      margin-bottom: 0;
    }
  }
}

.overdue {
  border-left: 5px solid map.get($govuk-colours, "red");
}

.overdue-text {
  color: govuk-colour("red");
}
